@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: auto;
  width: 100%;
  font-family: "Source Sans 3" , sans-serif 
}

.app {
  display: flex;
  position: relative;
  /* background: linear-gradient(257deg,#e5ffea,rgba(224,255,229,0)); */
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #9dedf0 55.12%,
    #bef3f5 71.54%,
    #def9fa 100%
  );
  
}

.custom-accordion {
  background-color: #f0f0f0; /* Set your desired background color */
}

/* Custom styles for Accordion Summary */
.custom-accordion .MuiAccordionSummary-root {
  background-color: #f0f0f0; /* Set your desired background color */
}

/* Custom styles for Accordion Details */
.custom-accordion .MuiAccordionDetails-root {
  background-color: #ffffff; /* Set your desired background color */
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #4cceac
}

/* Handle on Hover */
::--webkit-scrollbar-track:hover{
  background: #555
}