@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
  height: auto;
  width: 100%;
  font-family: "Source Sans 3" , sans-serif 
}


.app {
  height: 100vh;
  overflow: auto;
  /* overflow-y: scroll; */
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
  font-family: "Source Sans 3" , sans-serif ;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #9dedf0 55.12%,
    #bef3f5 71.54%,
    #def9fa 100%
  );
  
}

.calculator{
  flex:1;
  height: 400;
  margin-left: 40px;
  padding: 40px;
  background: linear-gradient(257deg,#b1f0bd,rgba(224,255,229,0));
  border-radius: 5;
}
.calculator1{
  flex:1;
  height: 400;
  margin-right: 40px;
  padding: 40px;
  background: radial-gradient(
    64.18% 64.18% at 71.16% 35.69%,
    #def9fa 0.89%,
    #bef3f5 17.23%,
    #9dedf0 42.04%,
    #9dedf0 55.12%,
    #bef3f5 71.54%,
    #def9fa 100%
  );
  border-radius: 5;
}

.custom-accordion {
  background-color: #f0f0f0; /* Set your desired background color */
}

/* Custom styles for Accordion Summary */
.custom-accordion .MuiAccordionSummary-root {
  background-color: #f0f0f0; /* Set your desired background color */
}

/* Custom styles for Accordion Details */
.custom-accordion .MuiAccordionDetails-root {
  background-color: #ffffff; /* Set your desired background color */
}

.custom-accordion1 {
  /* border: none !important;
  margin-top: 2vh; */
  background-color: #ffffff; /* Set your desired background color */
}

/* Custom styles for Accordion Summary */
.custom-accordion1 .MuiAccordionSummary-root {
  background-color: #ffffff; /* Set your desired background color */
}

/* Custom styles for Accordion Details */
.custom-accordion1 .MuiAccordionDetails-root {
  background-color: #ffffff; /* Set your desired background color */
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track{
  background: #e0e0e0
}

/* Handle */
::-webkit-scrollbar-thumb{
  background: #4cceac
}

/* Handle on Hover */
::--webkit-scrollbar-track:hover{
  background: #555
}